@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&family=Work+Sans&display=swap');

body{
    font-family: 'Source Serif Pro', Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: #698996;
    margin: 0;
    padding: 0;
}
h1, h2, h4, a{
    font-family: 'Work Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    margin: 0;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4, .button-box, main section{
    text-align: center;
}
header{
    background-color: rgba(44, 72, 29, 0.7);
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    color: #F9B58B;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #698996;
    color: white;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* margin-top: -100px; */
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img{
    width: 100%;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4{
    color: #F9B58B;
}
#hero-river{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-river #hero-box img{
    opacity: 0.9;
}
#hero-river #hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 196px;
}
.home-title{
    color: white;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: #231906;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.rivers-section{
    display: flex;
    flex-wrap: wrap;
    padding: 0 1.5rem;
}
#idaho-river{
    width: 60%;
    float: left;
    margin: 1rem;
}
#utah-river{
    width: 60%;
    float: right;
    margin: 1rem;
}
#arizona-river{
    width: 60%;
    float: left;
    margin: 1rem;
}
.idaho-section, .utah-section, .arizona-section{
    text-align: left;
}
.idaho-content, .utah-content, .arizona-content{
    margin-top: 105px;
}
.idaho-title, .utah-title, .arizona-title{
    color: #F9B58B;
    background-color: rgba(35,25,6,0.7);
    text-align: center;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 0.5rem 1rem;   
    position: absolute;

}
.idaho-title{
    left: 20%;
}
.utah-title{
    left: 20%;
}
.arizona-title{
    left: 31%;
}
.card-img{
    border: 10px solid #F9B58B;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #231906;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
#background{
    height: 725px;
    background-color: #2C481D;
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #231906;
}
.book, .join{
    background-color: #2C481D;
    color: #F9B58B;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #698996;
    color: white;
}
.msg{
    background-color: #F9B58B;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #231906;
}
.msg h2{
    color: #231906;
}
.msg p{
    color: #231906;
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color: #231906;
    color: #F9B58B;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    font-size: 1.2em;
}
footer a{
    color: #F9B58B;
    text-decoration: none;
}
footer .social img{
    padding-top: 15px;
}
footer p a:hover{
    background-color: #F9B58B;
    color: #231906;
    text-decoration: underline
}
.icon, .logo{
    width: 80px;
}
.icon{
    padding-top: 10px;
}
main section img{
    box-sizing: border-box;
}

/* FORM STYLE */
form {
    /* Center the form on the page */
    margin: 2rem auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #F9B58B;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

form label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

.button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
}


@media screen and (max-width: 900px) {
    #hero, #hero-river, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero, #hero-river{
        margin-top: 0;
    }
    #hero-msg, #hero-river #hero-msg{
        margin-top: 0;
    }
    #hero #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
    
    .idaho-title, .utah-title, .arizona-title{
        position: static;
    }
    #idaho-river, #utah-river, #arizona-river{
        width: 100%;
        display: block;
        margin: 1rem 0;
    }
    #hero-river #hero-box img{
        opacity: 1;
    }
}

@media screen and (min-width: 1025px){
    .idaho-title, .utah-title, .arizona-title{
        width: 85vw;
        left: 6%;
    }
    .idaho-content, .utah-content, .arizona-content{
        font-size: 2rem;
    }
    #hero-msg h4, nav a {
        font-size: 1.5em;
    }
}