@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&family=Work+Sans&display=swap');

body{
    font-family: 'Source Serif Pro', Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: #698996;
    margin: 0;
    padding: 0;
}
h1, h2, h4, a{
    font-family: 'Work Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    margin: 0;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4, .button-box, main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #2C481D;
}
header{
    background-color: rgba(44, 72, 29, 0.7);
}
nav a{
    color: #F9B58B;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #698996;
    color: white;
}
.home-title{
    color: white;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: #231906;
}
.book, .join{
    background-color: #2C481D;
    color: #F9B58B;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #698996;
    color: white;
}
.msg{
    background-color: #F9B58B;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: #231906;
}
.msg p{
    color: #231906;
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color: #231906;
    color: #F9B58B;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p{
    font-size: 1.2em;
}
footer a{
    color: #F9B58B;
    text-decoration: none;
}
footer .social img{
    padding-top: 15px;
}
footer p a:hover{
    background-color: #F9B58B;
    color: #231906;
    text-decoration: underline
}
.icon, .logo{
    width: 80px;
}
.icon{
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
#logo_link{
    padding-top: 5px
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #F9B58B;
}
main section img{
    box-sizing: border-box;
}