body {
    text-align: center;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
a {
    color: white;
    margin: 40px;
}
h1 {
    color: steelblue;
  }
img {
  width: 800px;
  border: 4px solid steelblue;
}
p {
  padding: 10px;
}
footer {
  background-color: steelblue;
  color: white;
}
.main-para {
  font-size: 1.5em;
  line-height: 1.5em;
}
#active {
  background-color: white;
  color: steelblue;
}