/* body {
    text-align: center;
} */
body {
  margin: 0
}
nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
    text-align: center;
}
nav {
  padding: 25px;
}
a {
    color: white;
    margin: 40px;
    font-size: 1.5em;
    padding: 25px;
}
h1 {
    color: steelblue;
    text-align: center;
    margin: 50px 0;
  }
img {
  width: 80%;
  border: 4px solid steelblue;
  display: block;
  margin: 0 auto;
}
p {
  padding: 10px;
}
main p {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}
.main-para {
  font-size: 1.5em;
  line-height: 1.5em;
}
#active {
  background-color: white;
  color: steelblue;
}
footer p {
  font-size: 20px;
  margin: 20px auto;
  padding: 25px;
}
a:hover {
  background-color: white;
  color: steelblue;
}
